<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .chart {
        width: 50% !important;
        height: auto !important;
        margin-left: 300px;
    }

    .chart-container {
        display: flex;
        flex-direction: row;
        margin:30px 0
    }
</style>
<h2>Statistika</h2>
<h3>1) Aylıq gəlir</h3>
<div class="chart-container">
    <table border="1" cellpadding="6">
        <tr>
            <th>Ay</th>
            <th>Gəlir</th>
            <th>Items</th>
        </tr>
        {% for r in monthly %}
            <tr>
                <td>{{ r.month|date:"Y-m" }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.items }}</td>
            </tr>
        {% endfor %}
    </table>
    <canvas class="chart" id="monthlyChart"></canvas>
</div>
<h3>2) Rüb üzrə gəlir</h3>
<div class="chart-container">
    <table border="1" cellpadding="6">
        <tr>
            <th>Rüb</th>
            <th>Gəlir</th>
            <th>Orta qiymət</th>
        </tr>
        {% for r in quarterly %}
            <tr>
                <td>Q{{ r.q }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.avg_price }}</td>
            </tr>
        {% endfor %}
    </table>
    <canvas class="chart" id="quarterlyChart"></canvas>

</div>
<h3>3) Kateqoriya üzrə</h3>
<div class="chart-container">
    <table border="1" cellpadding="6">
        <tr>
            <th>Kateqoriya</th>
            <th>Orta qiymət</th>
            <th>Toplam stok</th>
        </tr>
        {% for r in by_cat %}
            <tr>
                <td>{{ r.category }}</td>
                <td>{{ r.mean_price }}</td>
                <td>{{ r.total_qty }}</td>
            </tr>
        {% endfor %}
    </table>
    <canvas class="chart" id="categoryChart"></canvas>
</div>
<h3>4) TOP SKU (Gəlir)</h3>
<div class="chart-container">
    <table border="1" cellpadding="6">
        <tr>
            <th>SKU</th>
            <th>Ad</th>
            <th>Kateqoriya</th>
            <th>Gəlir</th>
            <th>Stok</th>
        </tr>
        {% for r in top_sku %}
            <tr>
                <td>{{ r.sku }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.category }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.qty }}</td>
            </tr>
        {% endfor %}
    </table>
    <canvas class="chart" id="topSkuChart"></canvas>
</div>
<h3>5) Low Stock (≤5)</h3>

<div class="chart-container">
    <table border="1" cellpadding="6">
        <tr>
            <th>SKU</th>
            <th>Ad</th>
            <th>Say</th>
        </tr>
        {% for p in low_stock %}
            <tr>
                <td>{{ p.sku }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.quantity }}</td>
            </tr>
        {% endfor %}
    </table>
    <canvas class="chart" id="lowStockChart"></canvas>
</div>


<p><a style="text-decoration: none;font-size: 23px" href="{% url 'product_list' %}">Products</a></p>

{{ monthly|json_script:"monthly-data" }}
{{ quarterly|json_script:"quarterly-data" }}
{{ by_cat|json_script:"category-data" }}
{{ top_sku|json_script:"top-sku-data" }}
{{ low_stock|json_script:"low-stock-data" }}


<script>
    const monthly = JSON.parse(document.getElementById('monthly-data').textContent);
    const quarterly = JSON.parse(document.getElementById('quarterly-data').textContent);
    const categories = JSON.parse(document.getElementById('category-data').textContent);
    const topSku = JSON.parse(document.getElementById('top-sku-data').textContent);
    const lowStock = JSON.parse(document.getElementById('low-stock-data').textContent);
    new Chart(document.getElementById('monthlyChart'), {
        type: 'bar',
        data: {
            labels: monthly.map(r => r.month),
            datasets: [{
                label: 'Monthly income',
                data: monthly.map(r => r.revenue),
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {beginAtZero: true, title: {display: true, text: 'Income'}},
                x: {title: {display: true, text: 'Monthly'}}
            }
        }
    });

    new Chart(document.getElementById('quarterlyChart'), {
        type: 'line',
        data: {
            labels: quarterly.map(r => "Q" + r.q),
            datasets: [{
                label: 'Quarterly income',
                data: quarterly.map(r => r.revenue),
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                tension: 0.3,
                fill: true
            }]
        },
        options: {
            scales: {y: {beginAtZero: true}}
        }
    });
    new Chart(document.getElementById('topSkuChart'), {
        type: 'bar',
        data: {
            labels: topSku.map(r => r.name),
            datasets: [{
                label: 'Income',
                data: topSku.map(r => r.revenue),
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {beginAtZero: true, title: {display: true, text: 'Income'}},
                x: {title: {display: true, text: 'Product'}}
            }
        }
    });

    new Chart(document.getElementById('lowStockChart'), {
        type: 'bar',
        data: {
            labels: lowStock.map(r => r.name),
            datasets: [{
                label: 'Stock Count',
                data: lowStock.map(r => r.quantity),
                backgroundColor: 'rgba(255, 159, 64, 0.6)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {beginAtZero: true, title: {display: true, text: 'Count'}},
                x: {title: {display: true, text: 'Product'}}
            }
        }
    });

    new Chart(document.getElementById('categoryChart'), {
        type: 'pie',
        data: {
            labels: categories.map(r => r.category),
            datasets: [{
                label: 'Total stock',
                data: categories.map(r => r.total_qty),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {legend: {position: 'bottom'}}
        }
    });
</script>
